.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 500px;
  width: 400px;
  pointer-events: none;
  display: flex;
  position: absolute;
  transform: translate(250%, 50%);
  opacity: 0;
}

.App-header {
  background-color: #525252;
  min-height: 100vh;
  display: flex;
  position: relative;
  font-size: calc(10px + 2vmin);
}
button {
  display: flex;
  position: absolute;
}

.App-logo-arr {
  opacity: 1;
  animation: image-arrival 1s linear;
}
.App-logo-dep {
  animation: image-departure 1s linear;
  animation-iteration-count: 1;
}

@keyframes image-arrival {
  0% {
    transform: translate(450%, -100%);
  }
  100% {
    transform: translate(250%, 50%);
  }
}

@keyframes image-departure {
  0% {
    transform: translate(250%, 50%);
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-100%, 200%);
    opacity: 0.9;
  }
}
